@media only screen and (max-width: 260px) {
    footer .footer-items ul {
        font-size: 8px;
        flex-direction: column;
    }

    hr {
        width: 100px !important;
    }

    .content h1,
    .content h1 span {
        font-size: 30px !important;
        line-height: 30px !important;
        /* text-align: center; */
    }

    .about-title h1 {
        font-size: 30px !important;
        line-height: 30px !important;
    }
}

@media only screen and (max-width: 201px) {
    footer .footer-items {
        font-size: 8px;
    }

    footer .footer-items {
        font-size: 8px;
    }

    .content p {
        font-size: 8px;
    }
}


/* Smaller devices (Watches, 400px and down) */
@media only screen and (max-width: 400px) {

    hr {
        width: 240px;
    }

    header {
        position: fixed;
        top: 0;
        padding: 0 15px;
    }

    .dropdown-training {
        margin-left: 0;
    }

    .title,
    .abt {
        margin-top: 100px;
    }

    .about-title {
        margin-top: 119px;
    }

    .about-title h1 {
        font-size: 45px;
        line-height: 42px;
    }

    .logo {
        flex-direction: row-reverse;
    }

    .checkbtn {
        display: block;
    }

    header ul li:not(:nth-child(4)) {
        margin-right: 0;
    }

    header ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #F67C01;
        top: 119px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    header ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    header ul li a {
        font-size: 17px;
    }

    a:hover,
    a.active {
        background: none;
    }

    #check:checked~ul {
        left: 0;
    }

    #title .empty {
        display: none;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .navbar img {
        width: 100%;
    }

    .content h1,
    .content h1 span {
        font-size: 45px;
        line-height: 44px;
        /* text-align: center; */
    }

    .content p {
        font-size: 14px;
        line-height: 20px;
        padding-top: 15px;
    }

    #services .container {
        grid-template-columns: 1fr;
        grid-gap: 15px;
        padding: 30px 15px
    }

    #services .container div {
        padding: 15px;
    }

    #services p {
        padding-right: 0px;
    }


    #trainings .container {
        padding: 40px 15px;
    }

    #trainings .trainings-img {
        flex-direction: column-reverse;
        grid-gap: 10px;
    }

    #trainings .trainings-img .training-details {
        padding-right: 15px;
        padding-left: 15px;
    }

    #trainings .container-div {
        width: auto;
    }

    #trainings .img-div {
        max-height: 600px;
    }

    #about .container {
        flex-direction: column-reverse;
        padding: 15px;
        row-gap: 40px;
    }

    #about .about-para {
        text-align: center;
        padding-top: 30px;
    }

    #about h2 {
        padding-top: 0px;
    }

    #about p {
        max-width: 767px;
    }

    .about-img img {
        width: 100%;
    }

    #contact form {
        display: grid;
        grid-template-areas:
            'fname'
            'sname'
            'email'
            'phone'
            'msg';
        grid-gap: 80px
    }

    #contact .contact-title h3 {
        font-size: 30px;
    }

    footer .footer-items ul {
        column-gap: 14px;
    }

    footer .footer-items {
        font-size: 13px;
    }

    footer div p {
        font-size: 14px;
    }

    footer .footer-logo img {
        width: 100%;
    }

    .foot-wrapper {
        padding: 0 15px;
    }

    /* aboutus.html */

    .service-container {
        padding: 15px;
    }

    .service-container .cards {
        grid-template-columns: 1fr;
    }

    .service-container p:not(#about-services .service-container .cards-item p) {
        padding-right: 0px;
    }

    .service-container p:not(#about-services .service-container .cards-item p) {
        font-family: Gilroy Medium;
        font-size: 10px;
        line-height: 10px;
        padding-right: 0px
    }

    #about-services .first-para {
        padding-top: 30px;
    }

    .contactus .container {
        grid-template-columns: 1fr;
    }

}

/* ============================================================================= */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) and (min-width: 399px) {

    hr {
        width: 300px;
    }

    header {
        position: fixed;
        top: 0;
        padding: 0 15px;
    }

    .dropdown-training {
        margin-left: 0;
    }

    .title,
    .abt {
        margin-top: 119px;
    }

    .about-title {
        margin-top: 119px;
    }

    .logo {
        flex-direction: row-reverse;
    }

    .checkbtn {
        display: block;
    }

    header ul li:not(:nth-child(4)) {
        margin-right: 0;
    }

    header ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #F67C01;
        top: 119px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    header ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    header ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
    }

    #check:checked~ul {
        left: 0;
    }

    #title .empty {
        display: none;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .content h1,
    .content h1 span {
        font-size: 40px;
        line-height: 40px;
    }



    #services .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        padding: 30px 15px
    }

    #services .container div {
        padding: 15px;
    }

    #services p {
        padding-right: 0px;
    }

    #trainings .container {
        padding: 76px 15px;
    }

    #trainings .trainings-img {
        flex-direction: column;
        grid-gap: 10px;
    }

    #trainings .trainings-img .training-details {
        padding-right: 15px;
        padding-left: 15px;
    }

    #trainings .container-div {
        width: auto;
    }

    #trainings .img-div {
        max-height: 600px;
    }

    #about .container {
        flex-direction: column-reverse;
        padding: 15px;
        row-gap: 40px;
    }

    #about .about-para {
        text-align: center;
        padding-top: 30px;
    }

    #about h2 {
        padding-top: 15px;
    }

    #about p {
        max-width: 767px;
    }

    .about-img img {
        width: 100%;
    }

    #contact form {
        display: grid;
        grid-template-areas:
            'fname'
            'sname'
            'email'
            'phone'
            'msg';
        grid-gap: 80px
    }

    #contact .contact-title h3 {
        font-size: 30px;
    }

    footer .footer-items ul {
        column-gap: 15px;
    }

    footer .footer-logo img {
        width: 100%;
    }

    footer .footer-items {
        font-size: 15px;
    }

    /* about.html  */

    .service-container {
        padding: 15px;
    }

    .service-container .cards {
        grid-template-columns: 1fr;
    }

    .service-container p:not(#about-services .service-container .cards-item p) {
        padding-right: 0px;
    }

    .contactus .container {
        grid-template-columns: 1fr;
    }


}

/* ============================================================================= */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width:767px) and (min-width: 601px) {

    hr {
        max-width: 600px;
    }

    header {
        position: fixed;
        top: 0;
        padding: 0 15px;
    }

    .dropdown-training {
        margin-left: 0;
    }

    .title,
    .abt {
        margin-top: 119px;
    }

    .about-title {
        margin-top: 119px;
    }

    #title .empty {
        display: none;
    }

    .content {
        grid-template-columns: 1fr;
    }

    .logo {
        flex-direction: row-reverse;
    }

    .checkbtn {
        display: block;
    }

    header ul li:not(:nth-child(4)) {
        margin-right: 0;
    }

    header ul {
        position: fixed;
        width: 75%;
        height: 100vh;
        background: #F67C01;
        top: 119px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    header ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    header ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
    }

    #check:checked~ul {
        left: 0;
    }

    #services .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        padding: 15px
    }

    #about .container {
        padding: 15px;
    }

    #services .container div {
        padding: 15px;
    }

    #services h3 {
        padding: 10px;
    }

    #services p {
        padding-right: 0;
        font-size: 12px;
    }


    #services .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        padding: 30px 15px
    }

    #trainings .container {
        padding: 40px 15px;
    }

    #trainings .container-div {
        max-width: 768px;
    }

    #trainings .img-div {
        max-height: 413px;
    }

    #trainings .trainings-img {
        grid-gap: 10px;
        flex-direction: column;
    }

    #trainings .trainings-img .training-details {
        padding-right: 15px;
        padding-left: 15px;
    }

    #about .container {
        /* display: grid;
        grid-template-columns: 1fr; */
        flex-direction: column-reverse;
        row-gap: 40px;
        padding: 15px;
    }

    .about-img img {
        width: 100%;
    }

    #about .about-para {
        text-align: center;
        padding-top: 30px;
    }

    #about p {
        max-width: 767px;
    }

    /* aboutus.html  */
    .service-container {
        padding: 15px;
    }

    .service-container .cards {
        grid-template-columns: 1fr 1fr;
    }

    .service-container p:not(#about-services .service-container .cards-item p) {
        padding-right: 0px;
    }

    .contactus .container {
        grid-template-columns: 1fr;
    }
}

/* ============================================================================= */

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width:991px) and (min-width: 768px) {
    header {
        position: fixed;
        top: 0;
        padding: 0 15px;
    }

    .title,
    .abt {
        margin-top: 119px;
    }

    .about-title {
        margin-top: 119px;
    }

    .service-container {
        padding: 15px;
    }

    .logo {
        flex-direction: row-reverse;
    }

    .checkbtn {
        display: block;
    }

    header ul li:not(:nth-child(4)) {
        margin-right: 0;
    }

    header ul {
        position: fixed;
        width: 75%;
        height: 100vh;
        background: #F67C01;
        top: 119px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    header ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    header ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
    }

    #check:checked~ul {
        left: 0;
    }

    hr {
        max-width: 768px;
    }

    .empty {
        display: none;
    }

    .content {
        display: flex;
        justify-content: center;
    }

    #services .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        padding: 15px
    }

    #about .container {
        padding: 15px;
        column-gap: 40px;
    }

    #services .container div {
        padding: 15px;
    }

    #services h3 {
        padding: 10px;
    }

    #services p {
        padding-right: 0;
        font-size: 12px;
    }

    .contactus .container {
        grid-template-columns: 1fr;
    }
}

/* ============================================================================= */

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width:1199px) {

    hr {
        max-width: 992px;
    }

    header .header {
        padding: 0 15px;
    }

    #trainings .container {
        padding: 76px 0px 117px 0px;
    }

    .logo {
        padding: 0px 15px;
    }

}

/* ============================================================================= */

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* default styling applied to the large screen device  */

}

/* ============================================================================= */