/* importing fonts  */

@font-face {
    font-family: Gilroy Regular;
    src: url(./fonts/gilroy/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy Bold;
    src: url(./fonts/gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: Gilroy Medium;
    src: url(./fonts/gilroy/Gilroy-Medium.ttf);
}

@font-face {
    font-family: Gilroy SemiBold;
    src: url(./fonts/gilroy/Gilroy-SemiBold.ttf);
}

@font-face {
    font-family: Roboto Regular;
    src: url(./fonts/Roboto/Roboto-Regular.ttf);
}

/* universal selector  */

* {
    font-family: Gilroy Regular;
    box-sizing: border-box;
    list-style: none;
}

.container {
    padding: 0px 15px;
    max-width: 1610px;
    margin: 0 auto;
}

/* style.css  */

/* ============================================================================= */

/* Header/Navbar */

.nav-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    max-width: 1079px;
    min-height: 119px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background: #FFFFFF;
    width: 100%;
}

header .header-logo img {
    width: 100%;
}

header ul {
    font-family: Gilroy Medium;
    float: right;
}

header ul li {
    display: inline;
    text-decoration: none;
    font-size: 16px;
}

header ul li {
    margin-right: 82px;
}

header ul li a {
    font-family: Gilroy Medium;
    text-decoration: none;
    color: black;
    font-size: 16px;
    letter-spacing: 1px;
}


a.active,
a:hover {
    color: #05A93D;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #000000;
    float: right;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.module {
    color: #05A93D;
}

.dropdown-training {
    margin-left: 200px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-training a:hover {
    background-color: #F3F3F3;
}

.dropdown-training a {
    background-color: #FFFFFF;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.nav-dropdown:hover .dropdown-training {
    display: block;
}

.dropdown-about {
    margin-left: 100px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-about a:hover {
    background-color: #F3F3F3;
}

.dropdown-about a {
    background-color: #FFFFFF;
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.nav-dropdown:hover .dropdown-about {
    display: block;
}

/* ============================================================================= */


/* Title  */

#title {
    background-image: url(./images/home_bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.content {
    height: 743px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title {
    max-width: 612px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.content h1,
.content h1 span {
    font-family: Gilroy Bold;
    font-size: 61.88px;
    color: #05A93D;
    line-height: 69px;
    font-weight: lighter;
}

.content h1 span {
    color: #F67C01;
}

.content p {
    font-family: Gilroy Medium;
    line-height: 24px;
    font-size: 16px;
    color: #4A4949;
    letter-spacing: 1px;
    padding-top: 1px;
    padding-bottom: 37px;
}

.content .title a {
    background-image: url(./images/arrow_right.svg);
    background-repeat: no-repeat;
    background-position: right 24px center;
    font-family: Gilroy SemiBold;
    text-decoration: none;
    background-color: #05A93D;
    color: #FFFFFF;
    padding: 15px 53px 13px 25px;
    border-radius: 30px;
}

.content .title a:hover {
    background-color: #F67C01;
}

/* ============================================================================= */

/* services  */

#services .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 134px 15px
}

#services .container div {
    /* box-shadow: rgba(134, 134, 134, 0.25) 0px 8px 24px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 12px 0px;
    border-radius: 10px;
    padding: 32px 0 31px 33px;
}

#services .container div img {
    width: 55px;
    height: 55px;
    padding: 16px;
    background-color: #F67C01;
    border-radius: 50%;
}

#services h3 {
    font-family: Gilroy SemiBold;
    padding-top: 23px;
    padding-bottom: 13px;
    font-size: 21px;
    font-weight: lighter;
    letter-spacing: 1px;
}

#services p {
    font-family: Gilroy Medium;
    color: #777777;
    max-width: 320px;
    font-size: 17px;
    padding-right: 27px;
    letter-spacing: 1px;
    line-height: 21px;
}

/* ============================================================================= */

/* trainings  */

#trainings {
    background-color: #EFFAF6;
}

#trainings .container {
    padding: 76px 0px 117px 0px;
}

#trainings .trainings-para {
    max-width: 656px;
    margin: 0 auto;
    text-align: center;
}

#trainings h2 {
    font-family: Gilroy Bold;
    font-weight: lighter;
    font-size: 43px;
    line-height: 69px;
}

#trainings .trainings-para p {
    font-family: Gilroy Medium;
    font-size: 17px;
    line-height: 24px;
    color: #777777;
    padding-top: 10px;
    padding-bottom: 47px;
}

#trainings .trainings-img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
    min-height: 566px;
}

#trainings .trainings-img img {
    width: 100%;
}

#trainings .container-div {
    max-width: 380px;
}

#trainings .trainings-img div {
    background-color: #FFFFFF;
}

#trainings .img-div {
    max-height: 236px;
}

#trainings .trainings-img .training-details {
    padding-right: 27px;
    padding-left: 33px;
}

#trainings .training-details .modules {
    font-family: Gilroy SemiBold;
    background-color: #05A93D;
    width: 81px;
    height: 26px;
    color: #FFFFFF;
    padding: 5px 10px 4px 10px;
    font-size: 14px;
}

#trainings .training-details h3 {
    font-family: Gilroy SemiBold;
    font-weight: lighter;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    padding-top: 25px;
    padding-bottom: 12px;
}

#trainings .training-details p {
    font-family: Gilroy Medium;
    color: #777777;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 1px;
}

#trainings .training-details .btn {
    padding-top: 24px;
    padding-bottom: 34px;
}

#trainings .training-details a {
    background-image: url(./images/chevron-right.svg);
    background-repeat: no-repeat;
    background-position: right 0 center;
    padding-right: 30px;
    font-family: Gilroy SemiBold;
    font-size: 17px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-decoration: none;
    color: #05A93D;
    background-size: contain;
}

#trainings .training-details a:hover {
    color: #F67C01;
}

/* ============================================================================= */

/* about  */

#about .container {
    /* display: grid;
    grid-template-columns: auto auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 110px;
    padding: 135px 15px 132px 15px;
}

#about .about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .about-para {
    padding-top: 53px;
}

#about h2 {
    font-family: Gilroy Bold;
    font-weight: lighter;
    color: #05A93D;
    font-size: 43px;
    padding-top: 53px;
}

#about p {
    font-family: Gilroy Medium;
    max-width: 530px;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
    padding-top: 9px;
    padding-bottom: 31px;
}

#about div a {
    background-image: url(./images/arrow_right.svg);
    background-repeat: no-repeat;
    background-position: right 24px center;
    font-family: Gilroy SemiBold;
    text-decoration: none;
    background-color: #05A93D;
    color: #FFFFFF;
    padding: 15px 53px 13px 25px;
    border-radius: 30px;
}

#about div a:hover {
    background-color: #F67C01;
}

/* ============================================================================= */

/* contact  */

#contact {
    background-color: #EFFAF6;
}

#contact .container:not(.contactus .container) {
    max-width: 944px;
    padding-top: 79px;
    padding-bottom: 97px;
    align-items: center;
}

#contact .contact-title h3 {
    font-family: Gilroy Bold;
    font-size: 43px;
    font-weight: lighter;
    line-height: 69px;
}

#contact .form-div {
    padding-top: 42px;
    padding-bottom: 35px;
}

.f-input {
    grid-area: fname;
}

.s-input {
    grid-area: sname;
}

.mail-input {
    grid-area: email;
}

.ph-input {
    grid-area: phone;
}

.msg-input {
    grid-area: msg;
}

#contact form {
    display: grid;
    grid-template-areas:
        'fname sname'
        'email phone'
        'msg msg ';
    grid-gap: 80px
}

#contact input {
    border: none;
    border-bottom: 2px solid #8F8F8F;
    background-color: #EFFAF6;
    height: 26px;
    width: 100%;
}

#contact #msg {
    border: none;
    border-bottom: 2px solid #8F8F8F;
    background-color: #EFFAF6;
    height: 26px;
    width: 100%;
    min-height: 138px;
    resize: none;
}

#contact label {
    font-family: Roboto Regular;
    line-height: 30px;
    color: #898989;
}

#contact button {
    background-image: url(./images/arrow_right.svg);
    background-repeat: no-repeat;
    background-position: right 24px center;
    font-family: Gilroy SemiBold;
    text-decoration: none;
    background-color: #F67C01;
    color: #FFFFFF;
    padding: 15px 53px 13px 25px;
    border-radius: 30px;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}

#contact button:hover {
    background-color: #05A93D;
}

/* ============================================================================= *
/
/* footer  */

footer {
    background-color: #05A93D;
    color: #FFFFFF;
    min-height: 412px;
    display: flex;
    justify-content: center;
}

footer .footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
}

footer .footer-items {
    font-family: Gilroy Medium;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-size: 17px;
    padding: 37.78px 0 41px 0;
    column-gap: 11px;
}

footer .footer-items ul {
    display: flex;
    column-gap: 76px;
}

footer .footer-items ul a {
    text-decoration: none;
    color: #FFFFFF;
}

footer .footer-items ul a:hover {
    color: #F67C01;
}


footer .social img:hover,
footer .social img:not(footer .social .fb-icon):hover {
    transform: scale(1.5);
    transition: 1s;
}


footer .social {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
    column-gap: 11px;
    padding-bottom: 44.19px;
}

footer .social ul {
    display: flex;
    column-gap: 11px;
}

footer .social ul li:not(footer .social .fb-icon) {
    background-color: #F67C01;
    padding: 7.52px 10.51px 3.36px 10.6px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .social ul li .fb-icon {
    padding: 3.52px 6.51px 3.36px 3.6px;
}

hr {
    width: 1200px;
}

footer div {
    text-align: center;
}

footer div p {
    font-family: Gilroy Medium;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 41px;
    padding-bottom: 43px;
}


/* =============================================================================
=============================================================================
============================================================================= */

/* Aboutus.html  */

/* ============================================================================= */

/* Title  */

.about-container {
    padding: 0px 15px;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 335px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 612px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#about-title {
    background-image: url(./images/about-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.about-container h1 {
    font-family: Gilroy Bold;
    font-size: 50px;
    color: #05A93D;
    line-height: 63px;
    font-weight: lighter;
}

/* ============================================================================= */

/* services  */

.service-container {
    max-width: 1200px;
    margin: 0 auto;
}

.service-container .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    padding: 39px 0px 18px;
}

#about-services .service-container .cards-item {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    padding: 23.85px 19.91px 25.84px 24.57px;
}

#about-services .service-container img {
    width: 55px;
    height: 55px;
    padding: 16px;
    background-color: #F67C01;
    border-radius: 50%;
}

#about-services .service-container .cards-item p {
    font-family: Gilroy Medium;
    font-size: 13px;
    line-height: 20.4px;
    color: #777777;
}

.service-container p:not(#about-services .service-container .cards-item p) {
    font-family: Gilroy Medium;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
    padding-right: 27px;
}

#about-services h3 {
    font-family: Gilroy SemiBold;
    padding: 15.14px 0 7.07px;
    font-size: 21px;
    font-weight: lighter;
}

.service-container h3 {
    font-family: Gilroy semiBold;
    font-weight: lighter;
    font-size: 23px;
    line-height: 28px;
    color: #444444;
}

#about-services .first-para {
    padding-top: 82px;
}

#about-services .first-title {
    padding: 45px 0px 22px;
}

#about-services .second-title {
    padding: 47px 0px 22px;
}

#about-services .second-para {
    padding-bottom: 89px;
}

#about-services .second-para span {
    font-family: Gilroy Bold;
    font-weight: lighter;
    color: #444444;
}

/* ============================================================================= */
/* ============================================================================= */

/* contactus.html */

.contactus .container {
    max-width: 1191px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 168px;
    padding-top: 79px;
    padding-bottom: 97px;
    align-items: center;
}

.contactus h3 {
    font-family: Gilroy Bold;
    font-weight: lighter;
    font-size: 25px;
}

.contactus .para p {
    font-size: 15px;
    color: #777777;
    font-family: Gilroy Medium;
    padding-top: 26px;
    padding-bottom: 44px;
    max-width: 352px;
}

.contactus .cont-details {
    display: flex;
    column-gap: 10px;
    padding-bottom: 29px;
}

.contactus .cont-details .icon {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f1f1f1;
    width: 31px;
    height: 31px;
    border-radius: 50%;
}

.contactus .cont-details p {
    font-size: 15px;
    color: #777777;
    font-family: Gilroy Medium;
}

.contactus .cont-details .link {
    text-decoration: none;
}

.contactus .cont-details div:not(.icon) {
    display: flex;
    align-items: center;
}


/* ======================================END======================================= */